myhome/wdsl/ewallet_psp_mtf.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/soap/psp"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns1="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/dto/psp"
                  name="ewalletPspInAppService"
                  targetNamespace="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/soap/psp">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/soap/psp/" version="1.0">
            <xs:element name="in" type="xs:string"/>
            <xs:element name="out" type="xs:string"/>
        </xs:schema>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/dto/psp" elementFormDefault="qualified" targetNamespace="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/dto/psp" version="1.0">
            <xs:element name="merchantTransactionFinalizationRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="requestContext" type="tns:requestContext"/>
                        <xs:element name="transToken" type="xs:string"/>
                        <xs:element name="statusCode" type="xs:string"/>
                        <xs:element name="statusLabel" type="xs:string"/>
                        <xs:element name="dataAvailable" type="xs:int"/>
                        <xs:element name="paymentGuarantee" type="xs:int"/>
                        <xs:element name="idAccountPEPS" type="xs:string" minOccurs="0"/>
                        <xs:element name="authData" type="tns:authData" minOccurs="0"/>
                        <xs:element name="internalContext" type="xs:string" minOccurs="0"/>
                        <xs:element name="versionContext" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="merchantTransactionFinalizationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="requestContext" type="tns:requestContext"/>
                        <xs:element name="responseCode" type="xs:string"/>
                        <xs:element name="authResult" type="tns:authResultType" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="authResultType">
                <xs:sequence>
                    <xs:element name="authNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="authResponse" type="xs:string"/>
                    <xs:element name="binAcquirer" type="xs:string" minOccurs="0"/>
                    <xs:element name="idTrans" type="xs:string"/>
                    <xs:element name="brand" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="requestContext">
                <xs:sequence>
                    <xs:element name="idRequest" type="xs:string"/>
                    <xs:element name="idRequestor" type="xs:string"/>
                    <xs:element name="senderTime" type="xs:dateTime"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="authData">
                <xs:sequence>
                    <xs:element name="authMethod" type="xs:string"/>
                    <xs:element name="authReasonCode" type="xs:string"/>
                    <xs:element name="pan" type="xs:string"/>
                    <xs:element name="expDate" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="cryptoPEPSSession" type="tns:cryptoPEPSType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cryptoPEPSType">
                <xs:sequence>
                    <xs:element name="seqCryptoPEPS" type="xs:string"/>
                    <xs:element name="algoCryptoPEPS" type="xs:int"/>
                    <xs:element name="valueCryptoPEPS" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="doMtf">
        <wsdl:part name="parameters" element="ns1:merchantTransactionFinalizationRequest"/>
    </wsdl:message>
    <wsdl:message name="doMtfResponse">
        <wsdl:part name="parameters" element="ns1:merchantTransactionFinalizationResponse"/>
    </wsdl:message>
    <wsdl:portType name="ewalletPspInAppWebService">
        <wsdl:operation name="doMtf">
			<wsdl:documentation> Method of the webservice called from the Paycore to PSP to finalize transaction </wsdl:documentation>
            <wsdl:input name="doMtf" message="tns:doMtf"/>
            <wsdl:output name="doMtfResponse" message="tns:doMtfResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ewalletPspInAppServiceSoapBinding" type="tns:ewalletPspInAppWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="doMtf">
            <soap:operation soapAction="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/soap/doMtf" style="document"/>
            <wsdl:input name="doMtf">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="doMtfResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ewalletPspInAppService">
        <wsdl:port name="ewalletPspInAppWebServicePort" binding="tns:ewalletPspInAppServiceSoapBinding">
            <soap:address location="https://ssl-liv-payment-ws.ewallet.aw.atos.net/interbank-pay-core/webservices/EwalletPspInAppWebServiceImpl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
