myhome/wdsl/EwalletPayCoreMerchantWebService.wsdl

<wsdl:definitions name="ewalletPayCoreMerchantService" targetNamespace="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/soap/merchant" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/soap/merchant" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/dto/merchant">
   <wsdl:types>
      <xs:schema targetNamespace="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/soap/merchant/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
         <xs:element name="in" type="xs:string"/>
         <xs:element name="out" type="xs:string"/>
      </xs:schema>
      <xs:schema elementFormDefault="qualified" targetNamespace="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/dto/merchant" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/dto/merchant">
         <xs:element name="MerchantAuthAcknowledgementRes">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="requestContext" type="tns:requestContext"/>
                  <xs:element name="responseCode" type="xs:string"/>
                  <xs:element name="responseLabel" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="MerchantAuthorizationResultReq">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="requestContext" type="tns:requestContext"/>
                  <xs:element name="authResult" type="tns:authResultType"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="MerchantCardDataReq">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="requestContext" type="tns:requestContext"/>
                  <xs:element name="valueToken" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="MerchantCardDataRes">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="requestContext" type="tns:requestContext"/>
                  <xs:element name="responseCode" type="xs:string"/>
                  <xs:element name="responseLabel" type="xs:string"/>
                  <xs:element name="cdRes" type="tns:cdResType"/>
                  <xs:element name="oneClickIdentifier" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="requestContext">
            <xs:sequence>
               <xs:element name="idRequest" type="xs:string"/>
               <xs:element name="idRequestor" type="xs:string"/>
               <xs:element name="senderTime" type="xs:dateTime"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="cdResType">
            <xs:sequence>
               <xs:element name="idResponse" type="xs:string"/>
               <xs:element name="pan" type="xs:string"/>
               <xs:element name="expDate" type="xs:string"/>
               <xs:element name="senderTime" type="xs:dateTime"/>
               <xs:element maxOccurs="unbounded" name="cryptoPEPSSession" type="tns:cryptoPEPSType"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="cryptoPEPSType">
            <xs:sequence>
               <xs:element name="seqCryptoPEPS" type="xs:string"/>
               <xs:element name="algoCryptoPEPS" type="xs:int"/>
               <xs:element name="valueCryptoPEPS" type="xs:string"/>
            </xs:sequence>
         </xs:complexType>
         <xs:complexType name="authResultType">
            <xs:sequence>
               <xs:element name="authNumber" type="xs:string"/>
               <xs:element name="authResponse" type="xs:string"/>
               <xs:element name="binAcquirer" type="xs:string"/>
               <xs:element name="idTrans" type="xs:string"/>
               <xs:element name="brand" type="xs:int"/>
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="doMda">
      <wsdl:part element="ns1:MerchantCardDataReq" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="doMauResponse">
      <wsdl:part element="ns1:MerchantAuthAcknowledgementRes" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="doMau">
      <wsdl:part element="ns1:MerchantAuthorizationResultReq" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="doMdaResponse">
      <wsdl:part element="ns1:MerchantCardDataRes" name="parameters"/>
   </wsdl:message>
   <wsdl:portType name="ewalletPayCoreMerchantWebService">
      <wsdl:operation name="doMda">
         <wsdl:input message="tns:doMda" name="doMda"/>
         <wsdl:output message="tns:doMdaResponse" name="doMdaResponse"/>
      </wsdl:operation>
      <wsdl:operation name="doMau">
         <wsdl:input message="tns:doMau" name="doMau"/>
         <wsdl:output message="tns:doMauResponse" name="doMauResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ewalletPayCoreMerchantServiceSoapBinding" type="tns:ewalletPayCoreMerchantWebService">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="doMau">
         <soap:operation soapAction="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/soap/doMau" style="document"/>
         <wsdl:input name="doMau">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="doMauResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="doMda">
         <soap:operation soapAction="http://www.atos.net/awl/bfi/ita/wallet/interbank/paycore/services/ws/soap/doMda" style="document"/>
         <wsdl:input name="doMda">
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="doMdaResponse">
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ewalletPayCoreMerchantService">
      <wsdl:port binding="tns:ewalletPayCoreMerchantServiceSoapBinding" name="ewalletPayCoreMerchantWebServicePort">
         <soap:address location="https://ssl-liv-payment-ws.ewallet.aw.atos.net/interbank-pay-core/webservices/EwalletPayCoreMerchantWebServiceImpl"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>